<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="icon" href="/static/images/tic-tac-toe.png" type="image/png">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <!-- <header>Tic Tac Toe</header> -->
    <section>
        <div>
            <table class = "board">
                <tr>
                    <td>
                        <img class="top-logo" src="/static/images/cross.png" alt="">
                        <img class="top-logo" src="/static/images/circle.png" alt="">
                    </td>
                    <td>turn</td>
                    <td style="background-color: antiquewhite; border-radius: 8px; text-align: right; width: 15px;">
                        <img class="refresh-icon" src="/static/images/refresh-arrow.png" alt="">
                    </td>
                </tr>
                <tr>
                    <td class = 'block'></td>
                    <td class = 'block'></td>
                    <td class = 'block'></td>
                </tr>
                <tr>
                    <td class = 'block'></td>
                    <td class = 'block'></td>
                    <td class = 'block'></td>
                </tr>
                <tr>
                    <td class = 'block'></td>
                    <td class = 'block'></td>
                    <td class = 'block'></td>
                </tr>
                <tr>
                    <td class="score-card-x">
                        <div>Player 1</div>
                        <div>0</div>
                    </td>
                    <td class="score-card-ties">
                        <div>Tied</div>
                        <div>0</div>
                    </td>
                    <td class="score-card-o">
                        <div>Player 2</div>
                        <div>0</div>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>